html, body{
	width: 100%;
	height: 100%;
	background-image: url(../images/nitesky.png);
	background-size: cover;
}

.rocket img{
	width: 256px;
	height: 177px;
	position: absolute;
	top: 50px;
	z-index: 1;
}

.aliens{
	position: absolute;
	bottom: 0;
	right: 0px;
	margin-right: 100px;
	z-index: 0;
	/*text-align: left;*/
	width: 180px;

}

.aliens img{
	position: relative;
	width: 40px;
	height: 48px;
	display: none;
}

.tank img{
	position: fixed;
	width: 121px;
	height: 65px;
	bottom: 0px;
	display: none;
	
}



@media (max-width: 480px){
	body {
		width: 100%;
		background-image: none;
		
	}

	.rocket img{
		width: 63px;
		height: 42px;
		position: fixed;
		top: 50px;
		z-index: 1;
	}

};

